
body{
  font-family: 'PT Sans Caption', sans-serif;
}
/*Styling for the header*/

.App-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(156,206,255,1);
  border-bottom-color: black;
  border-bottom-style: solid;
}
#countdownLogo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#countdownLogo img{
  height: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

#headerNav button{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;

  margin:3px;
  background:rgba(156,206,255,1);
  border-bottom: 2px solidrgba(156,206,255,1);
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;    
  color: #fff;
}

/* Styling for splash*/
.splashSection{
  display:flex;
  flex-direction: column;
  align-items: center;
  height:100%;
  width: 100%;
}
#splashVideo{
  width:100vw;
}
#splashButton{
  width: 90vw;
  height: 5vh;
}
#profileName{
  margin:0;
}

/* Styling for riderCard*/
.riderCard{
  display: flex;
  flex-direction: column;
  border-width: 1px;
  max-width: 25vw;
  min-width: 10vw;
  margin: 10px;
  padding: 0px;
  background-color: #F7F7F7
}
.riderCard:hover {
  background-color: rgba(207,232,255,.2);
}
.riderCard img{
  width: 18vw;
  margin: 1vw;
}
.rideerCard h1 h2 h3{
  width: 18vw;
  margin: 1vw;
}
.riderCard #profileName{

    background:rgba(156,206,255,1);
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -10 px -10px 10px -10px;
  }
.riderCard button{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 95%;
  padding: 3%;
  margin:5px;
  background:rgba(156,206,255,1);
  border-bottom: 2px solidrgba(156,206,255,1);
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;    
  color: #fff;
}

/* Styling for the main page */

.mainContent {
  background-color:rgba(207,232,255,1);
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh
}

/* Styling for the footer */
footer {
  background-color: rgba(156,206,255,1);
  border-top-color: black;
  border-top-style: solid;
  bottom: 0;
  width: 100%;
}


/*styling for form component */
.rider-input-form{
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  min-height: 48vh;
  max-height: 55vh;
  margin: 10px;
  padding: 16px;
  background: #F7F7F7;
}
.rider-input-form h1{
  background:rgba(156,206,255,1);
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}
.rider-input-form input[type="text"],
.rider-input-form input[type="date"],
.rider-input-form input[type="datetime"],
.rider-input-form input[type="email"],
.rider-input-form input[type="number"],
.rider-input-form input[type="search"],
.rider-input-form input[type="time"],
.rider-input-form input[type="url"],
.rider-input-form textarea,
.rider-input-form select 
{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}
.rider-input-form input[type="text"]:focus,
.rider-input-form input[type="date"]:focus,
.rider-input-form input[type="datetime"]:focus,
.rider-input-form input[type="email"]:focus,
.rider-input-form input[type="number"]:focus,
.rider-input-form input[type="search"]:focus,
.rider-input-form input[type="time"]:focus,
.rider-input-form input[type="url"]:focus,
.rider-input-form textarea:focus,
.rider-input-form select:focus
{
  box-shadow: 0 0 5px rgba( 72,164,252,1);
  padding: 3%;
  border: 1px solid rgba( 72,164,252,1);
}

.rider-input-form input[type="submit"],
.rider-input-form input[type="button"]{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background:rgba(156,206,255,1);
  border-bottom: 2px solidrgba(156,206,255,1);
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;    
  color: #fff;
}
.rider-input-form input[type="submit"]:hover,
.rider-input-form input[type="button"]:hover{
  background:rgba(156,206,255,1);
}
/* http://www.paletton.com/#uid=13-0u0kdq++00++6u++j7+YoG+3 */
/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=13-0u0kdq++00++6u++j7+YoG+3 */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #9CCEFF }	/* Main Primary color */
.color-primary-1 { color: #FFFFFF }
.color-primary-2 { color: #CFE8FF }
.color-primary-3 { color: #72BAFF }
.color-primary-4 { color: #48A4FC }

/* As RGBa codes */

.rgba-primary-0 { color: rgba(156,206,255,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(255,255,255,1) }
.rgba-primary-2 { color: rgba(207,232,255,1) }
.rgba-primary-3 { color: rgba(114,186,255,1) }
.rgba-primary-4 { color: rgba( 72,164,252,1) }

/* Generated by Paletton.com Â© 2002-2014 */
/* http://paletton.com */